{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Planet Video Games!</h1>
    <p class="leaf">Explore the fascinating world of video games and discover a new adventure 😁!</p>
</div>

<div class="popular-games-heading">
    The Most Popular Video Games of the Week:<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O_vQmwye1YQ?si=iCeSObKs7P-4_dIS"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>

<div class="row">
    {% for game in games %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ game.image }}" class="card-img-top" alt="{{game.title}}">
            <div class="card-body">
                <h5 class="card-title">{{ game.title }}</h5>
                <p class="card-text">{{ game.description[:40] }}...</p>
                <a href="{{ url_for('game_details', game_id=game.id ) }}" class="btn btn-primary">Explore</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-4 mb-4">
        <a href="{{ url_for('get_popular_games') }}" class="btn btn-primary">Explore More!</a>
    </div>
</div>

{% endblock %}